{{ form_start(form, { method: 'POST', action: path('comment_new', { 'postId': post.id }) }) }}
    {#  instead of displaying form fields one by one, you can also display them
        all with their default options and styles just by calling to this function:

        {{ form_widget(form) }}
    #}
	
	<fieldset>
		<legend>{{ 'title.add_comment' }}</legend>
	
		{{ form_errors(form) }}
		
		<div class="form-group {% if not form.content.vars.valid %}has-error{% endif %}">
			{{ form_label(form.content, 'label.content', { label_attr: { class: 'hidden' }}) }}
			
			{{ form_errors(form.content) }}
			
			{{ form_widget(form.content, { attr: { rows: 10} }) }}
		</div>
		
		<div class="form-group">
			<button class="btn btn-primary pull-right" type="submit">Publish Comment</button>
		</div>
	</fieldset>
	
{{ form_end(form) }}