{% extends 'megaadmin/layout.html.twig' %}

{% block body_id 'mega_admin_post_show' %}

{% block main %}
	<h1>{{ post.title }}</h1>
	
	<table class="table">
		<tbody>
			<tr>
				<th>Summary</th>
				<td>{{ post.summary }}</td>
			</tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td><p>{{ post.authorEmail }}</p></td>
            </tr>
            <tr>
                <th>Published At</th>
                <td><p>{{ post.publishedAt|date('Y-m-d H:i:s') }}</p></td>
            </tr>
        </tbody>
	</table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', { id: post.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> Edit Content
        </a>
    </div>

    <div class="section">
        {{ include('admin/blog/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete post',
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>
{% endblock %}